/* Center the header content with flexbox and style the menu */
header {
  display: flex;
  justify-content: flex-end;
  background-color: #f4f4f4;
  padding: 10px 20px;
}

/* Style links in the menu */
nav a {
  text-decoration: none;
  color: 333;
  margin-left: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.intro {
  padding: 20px;
  background-color: #f9f9f9;
  text-align: left;
}

.intro h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: Arial, sans-serif; 
}